{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="{% static 'css/login.css' %}">
</head>
<body>
    {% comment %} <div class="container">
        <h1>Login</h1>
        <form action=" "  method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
    </div> {% endcomment %}
    <div class="gb">
        <div class="login-cont">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="ig">
                    <label for="username" >Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required/>
                </div>

                <div class="ig">
                    <label for="password" >Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required/>
                </div>
                <button type="submit" class="btn">Login</button>

                <div class="login">
                    <p>Or login with</p>
                    <div class="login-btn">
                        <a href="#" class="fb">Facebook</a>
                        <a href="#" class="google">Google</a>
                    </div>
                </div>

                <p class="signuplink">
                    Don't have an account?<a href="{% url 'signup' %}">Sign up now</a>
                </p>
            </form>
        </div>
    </div>


                <script src="{% static 'js/login.js' %}"></script>
</body>
</html>